.footer {
    margin-top: 1em;
    margin-bottom: 2rem;
}

.footer p {
  font-size: 0.7rem;
  color: #666666;
  margin : 0;
}

.footer p:hover,
.footer h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-text {
  margin-left: 1rem;
}

@media  (min-width: 320px) and (max-width: 768px) {
  .footer p {
    margin: 0.5rem;
  }
}